/*-----------------------------------------------------------------------------

- Login pages -

-----------------------------------------------------------------------------*/

.img-login {
    background-image: url("../img/photos/working.jpg");
}

.img-register {
    background-image: url("../img/photos/working.jpg");
}

.img-login-recover {
    background-image: url("../img/photos/working.jpg");
}
