/******************************************************/
/*		Typography 									  */
/******************************************************/
body {
	Font-Family: 'Lora', Serif;
	Font-Size: 16px;
	color: #000;
}
.serif {	
	Font-Family: 'Lora', Serif;
}
.sans-serif, .font-open-sans, .parallax-quote-in p, .portfolio-box-v1 .portfolio-box-v1-in, .portfolio-box-v2 .portfolio-box-v2-in, .title-v1 h1, .title-v1 h2, h1, h2, h3, h4, h5, h6, .btn {
	Font-Family: 'Roboto', Sans-Serif;
}
h1, h2, h3, h4, h5, h6, li, li a, p {
	color: #000;
}
.title-v1 h1, .title-v1 h2 {
	Font-Family: 'Roboto', Sans-Serif;
	font-size: 48px;
	line-height: normal;
	text-transform: none;
	font-weight: 900;
	color: #000;
}
h2.heading-md {
	font-size: 24px;
	line-height: normal;
}

/******************************************************/
/*		Links and Buttons							  */
/******************************************************/
a {
	color: #21438D;
}
.btn-primary:hover {
	background-color: #21438D;
	color: #FAE648;
}
.btn-primary {
	background-color: #FAE648;
	color: #21438D;
}
.about-section a {
	font-weight: 900;
	text-decoration: underline;
}
/******************************************************/
/*		Navbar							  */
/******************************************************/
.one-page-header {
    border-bottom: none;
    background: rgba(33,67,141,.7);
	min-height: 70px;
}
.one-page-header .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
	Font-Family: 'Roboto', Sans-Serif;
	font-size: 16px;
	color: #fff;
}
@media (max-width: 1280px) and (min-width:992px) {
    .one-page-header .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
	font-size: 14px;
    }
}
.one-page-header .navbar-nav>li>a:hover {
	color: #FAE648;
}
.one-page-header .navbar-nav>li> .fa-chevron-circle-down {
    padding: 0px 0px 0px;
    z-index: 100;
    margin-top: 20px;
}
.one-page-header .navbar-nav>li>a:before {
	content: none;
}
/* Navbar collapsed */
.one-page-header.top-nav-collapse {
	background: #21438D;
}
div.collapse.navbar-collapse.navbar-ex1-collapse > div > ul {
    margin-right: 40px;
}
@media (max-width: 1280px) and (min-width:992px) {
    div.collapse.navbar-collapse.navbar-ex1-collapse > div > ul {
	margin-right: 90px;
    }
}
.one-page-header.top-nav-collapse .navbar-brand, .one-page-header.top-nav-collapse .navbar-nav>li>a, .one-page-header.top-nav-collapse .navbar-nav>li>a:before {
	color: #fff;
}
.one-page-header .dropdown-menu>.active>a, .one-page-header .dropdown-menu>.active>a:focus, .one-page-header .dropdown-menu>.active>a:hover, .one-page-header .navbar-nav>.active>a, .one-page-header .navbar-nav>.active>a:focus, .one-page-header .navbar-nav>.active>a:hover, .one-page-header.top-nav-collapse .dropdown-menu>.active>a, .one-page-header.top-nav-collapse .dropdown-menu>.active>a:focus, .one-page-header.top-nav-collapse .dropdown-menu>.active>a:hover {
	color: #B3CFEC !important;
}
@media (min-width: 768px) {
    .one-page-header .navbar-nav>li> .fa-chevron-circle-down {
        color: #fff;
    }
}

@media (max-width: 1000px) {
    .one-page-header .navbar-nav>li> .fa-chevron-circle-down {
        padding-left: 12px;
        margin-top: 14px;
    }
}
@media (max-width: 1000px) {
    ul .auth-options {
        position: inherit;
        float:left;
        right: 3px;
        list-style: none;
        margin-top: 0px;
        margin-right: -142px;
    }
}
@media (min-width: 1000px) {
    ul .auth-options {
        position: inherit;
        float:right;
        right: 3px;
        list-style: none;
        margin-right: -142px;
    }
}
body.dark p, li, .auth-options li a {
    color: #fff;
    font-size: 14px;	
	Font-Family: 'Roboto', Sans-Serif;

}
/******************************************************/
/*     Slider                                         */
/******************************************************/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
svg {
  display: block;
  overflow: visible;
}
.slider-container {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../img/hero/chattel2.jpg");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #fff;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../img/hero/cricket.jpg");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #C69200;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(198, 146, 0, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../img/hero/warmemorial.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #B3CFEC;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(179, 207, 236, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
	font-size: 3.5em;
	font-weight: 900;
	line-height: normal;
}
.slide__text-desc {
	font-size: 1.2em;
}
@media (max-width: 1280px) and (min-width:992px) {
   .slide__text-heading {
	font-size: 2em;
   }
   .slide__text-desc {
	font-size: .8em;
   }
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: normal;
    font-size: 3em;
  }
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text .btn-primary {
	font-size: 120%;
	border: none;
}
/******************************************************/
/*		Icons and Images							  */
/******************************************************/
.title-v1 h1:after, .title-v1 h2:after, i.icon-bg-u {
	background-color: #21438D;
}


/******************************************************/
/*		Footer 									  */
/******************************************************/
footer {
	background-color: #21438D;
	color: white;
	text-align: center;
}
footer p {
	color: white;
}

footer .social-icons li a {
	color: white;
}
.page-scroll a {
	color: white;
	font-size: 2em;
}
.page-scroll a:hover {
	color: #FAE648;
}
